<div class="text-center container">
<h1>PETS</h1>
<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-12 col-md-4">
    <%= link_to pet_path(pet) do %>
      <div class="text-white p-5 m-5 d-flex bg-dark">
        <p><%= pet.name %></p>
        <p class="ml-1"><%= pet.address %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<%= link_to new_pet_path do %>
  <button class="btn btn-outline-danger">CRIAR PET</button>
<% end %>

</div>

